.progress > #cpu-usage {
    background-color: #d48600;
}
.progress > #ram-usage {
    background-color: #a10a0a;
}
.progress > #mdb-storage {
    background-color: #36c540;
}
.progress > #mysql-storage {
    background-color: #36c540;
}
.progress > #ssd-storage {
    background-color: #1d7e17;
}
.progress > #temp-server-usage {
    background-color: #d48600;
}
.usage-icon {
    margin-right: 10px;
}
.row {
    margin: 30px 0 30px;
}

.terminal {

}